%h1= @item.name

%p= image_tag @item.image.normal unless @item.image.blank?

%ul
  %li #{@item.price} $
  %li= urls_to_links(urls_to_images(@item.description))
  %li Weight: #{@item.weight} paunds

= render partial: "shared/email"
